body{
    background-image: url(https://png.pngtree.com/background/20210712/original/pngtree-hand-drawn-book-education-learning-pink-background-picture-image_1182674.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#cal{
font-family: 'Times New Roman', Times, serif;
overflow: hidden;
max-width: 354px;
backdrop-filter: blur(5px);
background-color: rgba(159,134,192, 1);
border-radius: 15px;
border: 20px solid rgb(248,229,238);
box-shadow: 25px 25px 27px rgb(35,25,66);
}

#text{
    width: 290px;
    padding: 35px;
    text-align: left;
    border: none;
    background-color: rgba(94,84,142, 0.2);
    color: rgb(35,25,66);
    font-size: 2rem;
    font-weight: bold;
    font-family: cursive;
}

#display{
    background-color: rgb(248,229,238);
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(5,1fr);
}

#op{
    background-color: rgb(224,177,203);
}

#op:hover{
    background-color: greenyellow;
}

button{
    height: 65px;
    width: 65px;
    border-radius: 50%;
    border: none;
    background-color: rgb(159,134,192);
    font-size: 1.2rem;
    font-weight: bolder;
    margin: 10px;
    color: rgb(35,25,66);
    font-family: cursive;
    box-shadow: 12px 12px 13px rgb(35,25,66);
}

button:hover{
    background-color: rgb(114, 219, 114);
    cursor: pointer;
    transform: scale(1.1);
}

#equal{
    background-color: rgb(190,149,196);
}
#equal:hover{
    background-color: rgb(173, 241, 14);
}